<!--  7/10/24-->
<!--  Zack Laine-->
<!--  Assignment 13-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title th:text="${account.accountName}"></title>
</head>
<body>
<h1 th:text="${account.accountName}"></h1>

<div>
    <form action="" method="post">
        <div>
            Account Name: <input type="text" th:field="${account.accountName}"/>
        </div>
        <input type="submit" value="Save Account"/>
    </form>
    <br>
    <hr>

    <div>
        <a th:href="@{/users/{userId}(userId=${user.userId})}">Back</a>
    </div>
</div>
</body>
</html>