<!--  7/10/24-->
<!--  Zack Laine-->
<!--  Assignment 13-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Users</title>
</head>
<body>
<h1>Users</h1>

<div th:each="user : ${users}">
    <a th:href="@{/users/{userId}(userId=${user.userId})}" th:text="${user.userId}"></a><br/>
    <span th:text="${user.username}"></span><br/>
    <span th:text="${user.name}"></span><br/>
    <span th:text="${user.password}"></span>
    <div th:each="account : ${user.accounts}">
        <span th:text="${account.accountName}"></span>
    </div>
    <hr/>
</div>

</body>
</html>