<!--  7/10/24-->
<!--  Zack Laine-->
<!--  Assignment 13-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Users</title>
</head>
<body>
<h1 th:inline="text">User #[[${user.userId}]]</h1>

<form action="" method="post">
    <div>
        Username: <input type="text" th:field="${user.username}"/>
    </div>
    <div>
        Password: <input type="password" th:field="${user.password}"/>
    </div>
    <div>
        Full Name: <input type="text" th:field="${user.name}"/>
    </div>
    <hr>
    <div>
        Address Line 1: <input type="text" th:field="${user.address.addressLine1}">
    </div>
    <div>
        Address Line 2: <input type="text" th:field="${user.address.addressLine2}">
    </div>
    <div>
        City: <input type="text" th:field="${user.address.city}">
    </div>
    <div>
        Region: <input type="text" th:field="${user.address.region}">
    </div>
    <div>
        Country: <input type="text" th:field="${user.address.country}">
    </div>
    <div>
        Zip Code: <input type="text" th:field="${user.address.zipCode}">
    </div>
    <br>
    <div>
        <input type="submit" value="Update User Account"/>
    </div>
</form>
<form th:action="@{/users/{userId}/delete(userId=${user.userId})}" method="post">
    <input type="submit" value="Delete User Account"/>
</form>
<br>
<hr>

<h2>Accounts</h2>
<div>
    <div th:each="account : ${user.accounts}">
        <div>
            <a th:href="@{/users/{userId}/accounts/{accountId}(userId=${user.userId},accountId=${account.accountId})}"
               th:text="${account.accountName}"></a>
        </div>
    </div>
    <br>
    <form th:action="@{/users/{userId}/accounts(userId=${user.userId})}" method="post">
        <input type="submit" value="Create New Bank Account"/>
    </form>
    <br>
    <a th:href="@{/users/}">Back</a>
</div>
</body>
</html>